<div mat-dialog-content class="add-dialog">
  <mat-form-field>
    <input matInput placeholder="Введите название работы" #jobName>
  </mat-form-field><br>
  <mat-slide-toggle #isSlider>Проблема?</mat-slide-toggle>
  <mat-form-field>
    <input matInput type="number" placeholder="Введите количество времени в часах" #time>
  </mat-form-field><br>
  <mat-form-field>
    <textarea matInput placeholder="Опишите суть работы" #jobDescription></textarea>
  </mat-form-field><br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="addJob(jobName.value, jobDescription.value, time.value, isSlider.checked)">Ok</button>
</div>
