<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Введите название работы">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Введите тип работы">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Введите требуемое количество врмени в часах">
  </mat-form-field><br>
  <mat-form-field>
    <textarea matInput placeholder="Опишите суть работы"></textarea>
  </mat-form-field><br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onNoClick()">Ok</button>
</div>
