<mat-card class="day-column">
  <div class="day-date">
    <span>{{getDate()}}</span>
  </div>

  <mat-divider></mat-divider>

  <mat-card-content class="day-content" *ngIf="userJobs">
    <app-job-card *ngFor="let job of userJobs" [job]="job" [date]="day.date" (updateInfo)="updateColumn()"></app-job-card>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-footer class="btn-job-add">
    <button mat-raised-button color="link" (click)="openDialog()">+</button>
  </mat-card-footer>
</mat-card>
