.day-column {
  width: 200px;
  height: 100%;
  padding: 0;
  align-items: center;
}

.day-content {
  height: 86%;
  margin: 0;
}

.btn-job-add, .day-date {
  text-align: center;
  padding: 5px 0;
}
