<mat-card class="job-card">
  <mat-card-header class="job-header-block">
    <span class="job-name">Сделать карточку работы</span>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="job-content-block">
    <span class="job-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, eius. Ipsum alias minus repellat saepe ratione cupiditate, similique voluptatum repudiandae.</span>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer class="job-time-block">
    <span class="job-type">Выполню</span>
    <span class="example-spacer"></span>
    <span class="job-time">Время: 2h</span>
  </mat-card-footer>
</mat-card>
