.user-name {
  display: inline;
  margin-left: 5px;
}

.user-position {
  margin-left: 30px;
}

.user-card-block {
	width: 194px;
}

.user-card-block:hover {
  background-color: rgb(202, 193, 193);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.active .user-card-block {
  background-color: rgb(202, 193, 193);
}